[dir=rtl] .hero-1-shapes__img--1 {
  top: 0;
  left: 0;
  right: auto;
}
[dir=rtl] .hero-1-shapes__img--2 {
  top: 0;
  right: 0;
  left: auto;
}
[dir=rtl] .scroller-x__list {
  width: auto;
}
[dir=rtl] .scroller-x__list li {
  flex-shrink: 0;
}
[dir=rtl] .what-todo-section::after {
  right: 0;
  left: auto;
}
[dir=rtl] .faq-section-1__img--1 {
  left: 0;
  right: auto;
}
[dir=rtl] .pricing-label {
  top: 0;
  left: 0;
  transform: rotate(-45deg) translate(-75px, -20px);
}
[dir=rtl] .faq-section-2__inner::before {
  left: -25%;
  right: auto;
}
[dir=rtl] .faq-section-2__inner::after {
  left: 50%;
  right: auto;
}
[dir=rtl] .newsletter-section-1__shape {
  right: 0;
  left: auto;
}
@media (min-width: 1200px) {
  [dir=rtl] .blog-section-1__img--1 {
    left: 0;
    right: auto;
  }
}
@media (min-width: 1200px) {
  [dir=rtl] .blog-section-1__img--2 {
    left: auto;
    right: 0;
  }
}
[dir=rtl] .footer-1__shape {
  position: absolute;
  right: 0;
  left: auto;
}
@media (min-width: 768px) {
  [dir=rtl] .todo-img__1 {
    left: auto;
    right: 0;
  }
}
@media (min-width: 768px) {
  [dir=rtl] .todo-img__2 {
    left: 100%;
  }
}
@media (min-width: 1400px) {
  [dir=rtl] .choose-section-1__shape--1 {
    display: none;
  }
}
@media (min-width: 1400px) {
  [dir=rtl] .choose-section-1__img--1 {
    left: 50%;
    right: auto;
  }
}
[dir=rtl] .swiper-scrollbar.swiper-scrollbar-vertical,
[dir=rtl] .swiper-vertical>.swiper-scrollbar {
  right: var(--swiper-scrollbar-left, auto);
  left: var(--swiper-scrollbar-right, 4px);
}
[dir=rtl] .about-ai-slider .swiper-pagination-current {
  left: 0;
  right: auto;
}
[dir=rtl] .about-ai-slider .swiper-pagination-total {
  left: 0;
  right: auto;
}
[dir=rtl] .position-center {
  transform: translate(50%, -50%);
}
[dir=rtl] .feedback-section-1 {
  background-size: initial;
}
@media (min-width: 768px) {
  [dir=rtl] .ai-solution-section_shape {
    transform: translate(50%, -25%);
  }
}
@keyframes scroll {
  to {
    transform: translate(calc(50% + 0.5rem));
  }
}
@media (min-width: 1200px) {
  [dir=rtl] .title-star::after {
    transform: translate(50%, -25%);
  }
}
[dir=rtl] .section-top-bg-shape {
  transform: translateX(50%);
}
[dir=rtl] .hero-5__shape-left {
  left: 0;
  right: auto;
}
[dir=rtl] .hero-5__shape-right {
  right: 0;
  left: auto;
}
[dir=rtl] .hero-5__shape-top {
  transform: translateX(50%);
}
[dir=rtl] .hero-5__shape-digit {
  transform: translateX(50%);
}
[dir=rtl] .voice-upload-tab-content .voice-upload-tab-bg {
  transform: translateX(50%);
}
[dir=rtl] .how-work-shape-left {
  left: 0;
  right: auto;
}
[dir=rtl] .how-work-shape-right {
  right: 0;
  left: auto;
}
[dir=rtl] .voice-upload-section .section-right-bg-shape {
  right: 0;
  left: auto;
}
[dir=rtl] .pricing-section-4 .pricing-section-shape-right {
  right: 0;
  left: auto;
}
[dir=rtl] .pricing-section-4 .pricing-section-shape-left {
  left: 0;
  right: auto;
}
[dir=rtl] .footer-5-wrapper::before {
  left: 0;
  right: auto;
}
[dir=rtl] .hero-6__inner::after {
  transform: translateX(50%);
}
@media (min-width: 1920px) {
  [dir=rtl] .hero-6__el-1 {
    transform: translate(-100%, -100%);
  }
}
@media (min-width: 1920px) {
  [dir=rtl] .hero-6__el-2 {
    transform: translate(100%, -100%);
  }
}
[dir=rtl] .testimonial-section-4 .testimonial-4-shape-circle {
  transform: translateX(50%);
}
[dir=rtl] .testimonial-section-4 .testimonial-4-shape-dots {
  transform: translateX(50%);
}
[dir=rtl] .home-7-section-top-border::after {
  transform: translateX(50%);
}
[dir=rtl] .feature-section-2 .feature-2-top-shape {
  transform: translateX(50%);
}
[dir=rtl] .ai-application-item-wrapper .ai-application-shape-center {
  transform: translate(50%, -50%);
}
[dir=rtl] .pricing-section-5 .pricing-section-5-shape-top {
  transform: translateX(50%);
}
[dir=rtl] .pricing-section-5 .pricing-section-5-shape-left {
  right: auto;
  left: 0;
}
[dir=rtl] .pricing-section-5 .pricing-section-5-shape-right {
  left: auto;
  right: 0;
}
[dir=rtl] .ai-image-section .ai-image-section-shape-top {
  transform: translateX(50%);
}
[dir=rtl] .ai-image-section .ai-image-section-shape-left {
  left: 0;
  right: auto;
}
[dir=rtl] .ai-image-section .ai-image-section-shape-right {
  right: 0;
  left: auto;
}
[dir=rtl] .ai-tools-section .ai-tools-section-top-right-shape {
  right: 0;
  left: auto;
}
[dir=rtl] .ai-tools-section .ai-tools-section-left-shape {
  left: 0;
  right: auto;
}
[dir=rtl] .ai-tools-section .ai-tools-section-top-shape {
  transform: translateX(50%);
}
[dir=rtl] .ai-tools-section .ai-tools-section-bottom-shape {
  left: 50%;
  right: auto;
  transform: translateX(50%);
}
[dir=rtl] .ai-tools-section .ai-tools-section-bottom-layer-shape {
  transform: translateX(50%);
}
[dir=rtl] .hero-7-circle-wrapper .hero-7-logo-wrapper::after {
  transform: translate(50%, -50%);
}
[dir=rtl] .hero-7-circle-wrapper .hero-7-logo-wrapper {
  transform: translate(50%, -50%);
}
[dir=rtl] .hero-7-circle-wrapper .hero-7-radar {
  transform: translate(50%, -50%);
}
[dir=rtl] .hero-7-circle-wrapper .hero-7-circle-two {
  transform: translate(50%, -50%);
}
[dir=rtl] .hero-7 .hero-7-shape-top-line {
  transform: translateX(50%);
}
[dir=rtl] .hero-7 .hero-7-shape-top-dots {
  transform: translateX(50%);
}
[dir=rtl] .hero-7 .hero-7-shape-text {
  transform: translateX(50%);
}
[dir=rtl] .hero-7-video-wrapper::after {
  transform: translateX(50%);
}
[dir=rtl] .hero-7-video-wrapper .hero-7-video-frame {
  transform: translateX(50%);
}
[dir=rtl] .feature-section-2 .feature-2-shape-2 {
  right: 0;
  left: auto;
}
[dir=rtl] .feature-2-tabs .nav-item .nav-link .nav-link-text {
  transform: translateX(50%);
}
[dir=rtl] .ai-template-section .ai-template-section-shape-left {
  left: 0;
  right: auto;
}
[dir=rtl] .ai-image-slider-wrapper .radar-logo-wrapper {
  transform: translate(50%, -50%);
}
[dir=rtl] .radar-logo-wrapper .logo-wrapper::after {
  transform: translate(50%, -50%);
}
[dir=rtl] .radar-logo-wrapper .radar {
  transform: translate(50%, -50%);
}
[dir=rtl] .radar-logo-wrapper .logo-wrapper {
  transform: translate(50%, -50%);
}
[dir=rtl] .feature-2-card .feature-2-card-thumb i {
  transform: translateX(50%);
}
[dir=rtl] .footer-7::before {
  transform: translateX(50%);
}
[dir=rtl] .footer-7 .footer-7-shape-bottom-circle {
  transform: translateX(50%);
}
[dir=rtl] .footer-7 .radar-logo-wrapper {
  transform: translateX(50%);
}
[dir=rtl] .ai-benefit-section .ai-benefit-shape-left {
  left: 0;
  right: auto;
}
[dir=rtl] .ai-benefit-wrapper .ai-benefit-line-bottom {
  transform: translateX(50%);
}
[dir=rtl] .ai-benefit-wrapper .ai-benefit-line-top {
  left: 100px;
  right: auto;
}
[dir=rtl] .ai-benefit-wrapper .ai-benefit-line-left {
  left: 0;
  right: auto;
}
[dir=rtl] .ai-benefit-wrapper .ai-benefit-line-right {
  right: 0;
  left: auto;
}
[dir=rtl] .mission-section .mission-shape-circle {
  right: 0;
  left: auto;
}
[dir=rtl] .about-section-4 .about-section-4-shape-top {
  transform: translateX(50%);
}
[dir=rtl] .about-section-4 .about-section-4-shape-left {
  left: 0;
  right: auto;
}
[dir=rtl] .about-section-4 .about-section-4-shape-right {
  right: 0;
  left: auto;
}
[dir=rtl] .about-section-4 .about-section-4-shape-line-left {
  left: 0;
  right: auto;
}
[dir=rtl] .about-section-4 .about-section-4-shape-line-right {
  right: 0;
  left: auto;
}
[dir=rtl] .mission-wrapper .mission-shape-line-right {
  right: 0;
  left: auto;
}
[dir=rtl] .key-feature-wrapper .key-feature-line-left {
  left: 0;
  right: auto;
}
[dir=rtl] .team-section-wrapper .team-section-line {
  right: 0;
  left: auto;
}
[dir=rtl] .how-work-2-wrapper .how-work-2-wrapper-line {
  left: 0;
  right: auto;
}
[dir=rtl] .breadcrumb-section .breadcrumb-shape-line-right {
  right: 0;
  left: auto;
}
[dir=rtl] .breadcrumb-section .breadcrumb-shape-top {
  transform: translateX(50%);
}
[dir=rtl] .breadcrumb-section .breadcrumb-shape-left {
  left: 0;
  right: auto;
}
[dir=rtl] .breadcrumb-section .breadcrumb-shape-right {
  right: 0;
  left: auto;
}
[dir=rtl] .breadcrumb-section .breadcrumb-shape-line-left {
  left: 0;
  right: auto;
}
[dir=rtl] .blog-latest-label {
  right: -26px;
  left: auto;
}
[dir=rtl] .use-case-breadcrumb-bottom-circle {
  transform: translateX(50%);
}
[dir=rtl] .use-case-breadcrumb-bottom-circle::before {
  transform: translate(50%, -50%);
}
[dir=rtl] .use-case-breadcrumb-bottom-circle .radar-logo-wrapper {
  transform: translate(50%, -50%);
}
[dir=rtl] .use-case-breadcrumb-bottom-circle::after {
  transform: translate(50%, -50%);
}
[dir=rtl] .copywrite-overview-wrapper .copywrite-line-top {
  transform: translateX(50%);
}
[dir=rtl] .copywrite-overview-wrapper .copywrite-line-bottom {
  transform: translateX(50%);
}
[dir=rtl] .copywrite-overview-wrapper .copywrite-line-left {
  left: 0;
  right: auto;
}
[dir=rtl] .copywrite-overview-wrapper .copywrite-line-right {
  right: 0;
  left: auto;
}
[dir=rtl] .breadcrumb-section-inner::after {
  transform: translateX(50%);
}
[dir=rtl] .radar-main-wrapper .radar-main-circle-two {
  transform: translate(50%, -50%);
}
[dir=rtl] .radar-main-wrapper .radar-main-circle-three {
  transform: translate(50%, -50%);
}
[dir=rtl] .login-page .radar-main-wrapper .radar-main-shape-text {
  transform: translate(50%, -50%);
}
[dir=rtl] .radar-main-wrapper .radar-logo-wrapper {
  transform: translate(50%, -50%);
}
[dir=rtl] .login-page .login-shape-top {
  transform: translateX(50%);
}
[dir=rtl] .pricing-difference-wrapper-inner .pricing-line-right {
  right: 0;
  left: auto;
}
[dir=rtl] .pricing-faq-section .pricing-fag-shape-top-right {
  right: 0;
  left: auto;
}
[dir=rtl] .pricing-faq-section .pricing-fag-shape-top-left {
  left: 0;
  right: auto;
}
[dir=rtl] .pricing-faq-section .pricing-fag-shape-bottom-right {
  right: 0;
  left: auto;
}
[dir=rtl] .pricing-compare-wrapper .difference-line-top {
  transform: translateX(50%);
}
[dir=rtl] .pricing-compare-wrapper .difference-line-bottom {
  transform: translateX(50%);
}
[dir=rtl] .pricing-compare-wrapper .difference-line-left {
  left: 0;
  right: auto;
}
[dir=rtl] .pricing-compare-wrapper .difference-line-right {
  right: 0;
  left: auto;
}
[dir=rtl] .use-case-video-wrapper .use-case-video-btn {
  transform: translate(50%, -50%);
}